Package: com.neinzedd9.percentagecirclex
Name: PercentageCircleX
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Adds the percentage inside of a circle on iPhone X.
Maintainer: NeinZedd9
Author: NeinZedd9
Section: Tweaks
